<%include file="header.html"/>

<body>

<div id="page">
    <div id="header" class="clearfix">
        <h1>Login!</h1>
    </div>
    <div id="content">

        Please login:
        <form action="${url}" method="post">
            <input type="hidden" name="came_from" value="${came_from}"/>
            <input type="text" name="login" value="${login}"/><br/>
            <input type="password" name="password" value="${password}"/><br/>
            <!--input type="submit" name="form.submitted" value="Log In"/-->
            <button type="submit" name="submit" class="btn btn-primary" i18n:translate="">Log in</button>
        </form>
        %if message:
            <div class="message">Server message: ${message}</div>
        % endif

    </div
</div>

</body>
</html>

