venv
cover
.coverage
*,cover
.venv
build/
dist/
*.egg-info/
*.egg/
.tox/
run_tests.err.log
doc/source/api
AUTHORS
ChangeLog
*~
*.db
*.idea
*.log*
*.pid
*.pyc
*.swp
*.csr*
*.crt*
*.key*
*.*project
.webassets-cache
static/bootstrap.css
