@charset "utf-8";
/* CSS Document */

/*BODY*/
body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}

body {
	background-color: #CCC;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


/*IMAGE URL*/
img a{
	border:0;
}

/*HEADINGS*/
h1 {
	font-size: 24px;
	margin:0;
}

h2 {
	font-size: 18px;
	margin:0;
}

h3 {
	font-size: 16px;
	border-bottom: solid 1px #000000;
	margin:0;
}

h4 {
	font-size: 14px;
	margin:0;
}

h5 {
	font-size: 10px;
	color:#666;
	margin:0;
}

/*TABLES*/

#content table {
	margin-top: 15px;
	border-collapse: collapse;
	border: 1px solid #999;
	margin-bottom: 15px;
}

#content th {
	border-collapse: collapse;
	border: 1px solid #999;	
	padding: 3px;
	background: #F9F9F9;
}

#content td {
	border-collapse: collapse;
	border: 1px solid #999;
	padding: 5px;
}

#content tr {
	border-collapse: collapse;
	border: 1px solid #CCC;	
}

#content tr a{
	text-decoration:none;
	color: #000;
}

#content tr a:hover{
	text-decoration:underline;
	color: #000;
}

/*STRUCTURE*/

#top {
	background-color: #333;
	width: auto;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #666;
}

#top h1{
	color:#efefef;
	margin:0;
}

#navbar_menu {
    background-color: #EDEDED;
    width: 100%;
}

#nav {
	width: auto;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #efefef;
	border: 1px solid #999;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

#nav a{
	color:#333;
	font-weight:bold;
	text-decoration:none;
	margin-right:20px;
}

#nav img{
	margin-bottom:-3px;
	margin-right: 3px;
}

#wrapper {
	width: 1610px;
	margin: 20px;
}

#content{
	background-color: #FFF;
	width: auto;
	float:left;
	border: 1px solid #999;
	padding: 20px;
	float: left;
}

#block {
	padding: 20px;
	float: left;
	height: auto;
	width: 200px;
	margin-bottom: 20px;
	background-color: #FFF;
	border: 1px solid #999;
	margin-left: 20px;
}

.bluebutton{
	width: auto;
	height: auto;
	padding: 8px;
	background-color:#39F;
	border: 1px solid #33F;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

.bluebutton a{
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.bluebutton a:hover{
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.greenbutton{
	width: auto;
	height: auto;
	padding: 8px;
	background-color:#33CC66;
	border: 1px solid #060;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

.greenbutton a{
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.greenbutton a:hover{
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.greenbutton-small{
	height: auto;
	padding: 3px;
	background-color:#33CC66;
	border: 1px solid #390;
	float: left;
	width: auto;
	text-align: center;
}

.greenbutton-small a{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
}

.greenbutton-small a:hover{
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
}

.redbutton{
	width: auto;
	height: auto;
	padding: 8px;
	background-color:#FF3333;
	border: 1px solid #C00;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}

.redbutton a{
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.redbutton a:hover{
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.message {
	padding: 10px;
	float: left;
	height: auto;
	width: 225px;
	margin-top: 15px;
	background-color: #EFEFEF;
	border: 1px solid #999;
}
