<div class="row-fluid">
    <div class="span6">
        <h3>About Bookie - version Unknown</h3>
        <p>
        Are you wondering why it's saying Unknown, it's because we're on a
        rolling version at the moment!
        <br>
        This version is actually a re-write of the old one that
        used:
        <ul>
            <li>Server generated pages</li>
            <li>Colander for Schemas + Deform + Deform Bootstrap for Form
            generation</li>
        </ul>
        </p>
        <br/>

        <h3>New version features</h3>
        <p>
        <ul>
            <li>Fully driven by API & javascript by AngularJS using the backend only
            for JSON</li>
            <li>Bourne for serialization of objects</li>
            <li>WTForms with schema generation from database models for data validation in API</li>
            <li>Mozilla Cornice library for API services</li>
        </ul>
        </p>
        <br/>

        <p>
        All versions use:
        <ul>
            <li>Mako for Templating server generated pages</li>
            <li>Pyramid framework for backend</li>
            <li>SQLAlchemy for DB / ORM</li>
            <li>Alembic to provide DB Migrations</li>
            <li>CSS / Script minification via webassets / pyramid_webassets</li>
        </ul>
        </p>
    </div>
</div>
