<objects-menu></objects-menu>

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th>Brand</th>
            <th>Model</th>
            <th>Produced</th>
            <th>Identifier</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="object in objects" ui-jq2="tooltip" title="Updated {{object.updated_at}}">
            <td>
                <delete></delete>
                <edit url="#/{{params.accountId}}/booking/{{object.id}}"></edit>
            </td>
            <td>{{object.brand}}</td>
            <td>{{object.model}}</td>
            <td>{{object.produced}}</td>
            <td>{{object.identifier}}</td>
            <td>{{object.color}}</td>
        </tr>
        </tr>
        </tr>
    </tbody>
</table>
