<div class="span4">
    <h3>Booking</h3>
    <form name="edit_form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label"><strong>Brand</strong></label>
            <div class="controls">
                <input required ng-model="object." placeholder="Brand" type="text" class="input-small"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><strong>Model</strong></label>
            <div class="controls">
                <input required ng-model="object.model" placeholder="Model" type="text" class="input-small"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><strong>Produced</strong></label>
            <div class="controls">
                <input required ng-model="object.produced" placeholder="Produced" type="text" class="input-small"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><strong>Identifer / Serial</strong></label>
            <div class="controls">
                <input required ng-model="object.identifier" placeholder="Identifier" type="text" class="input-small"/>
            </div>
        </div>
        <div class="form-actions">
            <save></save> <cancel></cancel>
        </div>
    </form>
    <pre>Form debug:<br/>{{object | json}}</pre>
</div>
