<div ng-hide="template">
<objects-menu></objects-menu>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Organization ID</th>
            <th>Contact</th>
            <th>E-mail</th>
            <th>Phone nr</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="object in objects">
            <td>
                <delete></delete>
                <edit url="/{{params.accountId}}/entity/{{object.id}}"></edit>
            </td>
            <td>{{object.name}}</td>
            <td>{{object.organization_id}}
            <td>{{object.contact}}</td>
            <td>{{object.email}}</td>
            <td>{{object.phone}}</td>
        </tr>
        </tr>
        </tr>
    </tbody>
</table>
</div>

<ng-show="template" ng-include src="template"></ng-show>
