<div ng-hide="template">
<objects-menu></objects-menu>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Brand</th>
            <th>Model</th>
            <th>Produced</th>
            <th>Identifier</th>
            <th>Color</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="object in objects">
            <td>
                <delete></delete>
                <edit url="/{{params.accountId}}/entity/{{object.id}}"></edit>
            </td>
            <td>{{object.brand}}</td>
            <td>{{object.model}}</td>
            <td>{{object.produced}}</td>
            <td>{{object.identifier}}</td>
            <td>{{object.color}}</td>
        </tr>
        </tr>
        </tr>
    </tbody>
</table>
</div>

<ng-show="template" ng-include src="template"></ng-show>
