<%inherit file="/base.html" />

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#list-user-tab" data-toggle="tab">List users</a>
    </li>
    <li>
        <a href="#add-user-tab" data-toggle="tab">Add user</a>
    </li>
    <li>
        <a href="#list-group-tab" data-toggle="tab">List groups</a>
    </li>
    <li>
        <a href="#add-group-tab" data-toggle="tab">Add group</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="list-user-tab">
        <table class="stylized">
            <caption>Users</caption>
                ${user_grid}
        </table>
    </div>
    <div class="tab-pane" id="add-user-tab">
        <h1>${user_addform["first_heading"]|n}</h1>
        ${user_addform["form"]|n}
    </div>
    <div class="tab-pane" id="list-group-tab">
        <table class="stylized">
        <caption>Groups</caption>
            ${group_grid}
        </table>
    </div>
    <div class="tab-pane" id="add-group-tab">
        ${group_addform["form"]|n}
    </div>
</div>
